// NOSOTROS

.background {
	position: relative;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	background-image: url('../img/background-1.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: repeat-x;
}
.sun {
	position: absolute;
	left: 0;
	top: 5%;
	max-width: 253px;
	max-height: 245px;
	width: 50%;
	transition: .5s;
	transform: scale(.9);
	&:hover {
		transform: scale(1);
	}
	@include mobile($bp-sm) {
		left: 2%;
	}
	&-nibbleframe {
		@extend %nosotros-text;
		padding-left: 8px;
		font-size: 1.2em;
		font-family: $sriracha;
		@include mobile($bp-xs-3){
			font-size: 1.5em;
		}
		@include mobile($bp-xs-4){
			padding-left: 16px;
			font-size: 2em;
		}
	}
}
.world {
	position: absolute;
	right: 0;
	top: 20%;
	max-width: 289px;
	width: 50%;
	transition: .5s;
	transform: scale(.9);
	opacity: .95;
	&:hover {
		transform: scale(1);
		opacity: 1;
	}
	@include mobile($bp-sm) {
		right: 2%;
	}
	&-home {
		@extend %nosotros-text;
		font-size: 2em;
		font-family: $itim;
		color: $text-light;
		@include mobile($bp-xs-3){
			font-size: 2.5em;
		}
		@include mobile($bp-xs-4){
			font-size: 3em;
		}
	}
}
.nixeAstronauta {
	position: absolute;
	left: 50%;
	top: 80%;
	transform: translate(-50%, -50%);
	max-width: 208px;
	max-height: 240px;
	@include mobile($bp-sm) {
		max-width: 260px;
		max-height: 300px;
	}
	@include mobile($bp-lg) {
		max-width: 312px;
		max-height: 360px;
	}
	@include mobile($bp-lg-1) {
		max-width: 433px;
		max-height: 499px;
	}
	&-img {
		animation: animateNixe 2s linear infinite alternate;
	}
}
@keyframes animateNixe {
	from { 
		// transform: rotate(0)  translate(-80%) rotate(0);
		// transform: rotate(-10deg)  translate(-80%) rotate(90deg);
		// transform: rotate(10deg)  translate(-80%) rotate(5deg);
		transform: rotate(10deg)  translate(-80%) rotate(-50deg);
	}
	to { 
		transform: rotate(180deg) translate(-80%) rotate(-180deg); 
		// transform: rotate(180deg) translate(-80%) rotate(180deg); 
	}
}

@keyframes animateText{
	0%{
		transform: translate(10px, 10px);
	}
	50%{
		transform: translate(0, 0);
	}
	100%{
		transform: translate(10px, 10px);
	}
}