<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="author" content="NibbleFrame, nibbleframe247@gmail.com">
	<meta name="description" content="PixeLand | NibbleFrame">
	<meta name="language" content="es">

	<title>PixeLand | Nibbleframe 🛡</title>

	<!-- FONTS -->
	<!-- Roboto -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
	<!-- Poppins -->
	<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">

	<!-- DEVELOPMENT -->
	<!-- FontAwesome -->
	<link rel="stylesheet" href="../assets/resources/fontawesome/css/all.css">
	<!-- aos -->
	<link rel="stylesheet" href="../assets/resources/aos/aos.css">

	<!-- STYLES -->
	<link rel="stylesheet" href="assets/css/styles.css">
	
	<!-- ICON -->
	<link rel="shortcut icon" href="../favicon.ico">
</head>
<body>
	
	<!-- LOADING -->
	<div id="loader" class="loader">
		<div class="loader-container">
			<svg class="loader-circular" viewBox="25 25 50 50">
				<circle class="loader-path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
			</svg>
		</div>
	</div>

	<!-- Nosotros -->

	<!-- JAVASCRIPT -->
	<!-- Libraries -->
	<script src="../assets/resources/aos/aos.js"></script>
	<!-- Code -->
	<script src="../assets/js/nProgress.js"></script>
	<script src="../assets/js/loader.js"></script>
	<script src="assets/js/main.js"></script>

	<script>location.href='../'</script>
</body>
</html>