// CONTACTANOS// CONTACTANOS

.contactanos {
    @extend %layout-center;
    @include desktop($bp-lg){
        padding-top: 100px; 
    }
    &-wrapper {
        @extend %container;
        display: flex;
        align-items: center;
        flex-flow: wrap column;
    }
    &-title {
        @extend %title-2;
        color: $primary-1;
    }
    &-text {
        @extend %text-2;
    }
    &-form {
        padding:35px;
        display: grid;
        grid-gap: 25px;
        grid-template-columns: repeat(3,1fr);
        &-group {
            &:nth-of-type(4){
                grid-column: span 4;
            }
            width: 100%;
            margin-bottom:20px;
            position: relative;
            & label {
                color: $gray;
                position: absolute;
                top:0;
                left:0;
                padding: 10px 0;
                font-size: 18px;
                font-weight: 400;
                text-transform: uppercase;
                transition: all .4s;
                cursor: text;
                pointer-events: none;
            }     
            & input {
                background: transparent;
                outline: none;
                border: none;
                display: block;
                padding: 10px 0;
                width: 100%;
                border-bottom: 1.2px solid $divider;
                color: $dark;
                font-size: 16px;
                &:focus ~ label, &:valid ~ label {
                    top: -18px;
                    left: 0;
                    font-size: 14px;
                    color: $primary-1;
                }
                &:focus {
                    border-bottom: 1.2px solid $primary-1;
                }  
            }
            & input[type=number]::-webkit-inner-spin-button, 
            & input[type=number]::-webkit-outer-spin-button {
                -webkit-appearance: none; 
            }
        }
        &-submit {
            text-align: center;
            grid-column-start: 2;
            & button {
                @extend %btn-effect;
            }
        }
    }
}
