// SERVICIOS
.services {
	background-image: $bg-secondary;
	position: relative;
	z-index: 50;
	padding-top: 250px;
	padding-bottom: 200px;
	&-wrapper {
		@extend %container;
	}
	&-title {
		position: relative;
		@extend %title-2;
		padding-bottom: 8px;
		margin-bottom: 10px;
		color: $light;
		&:before {
			content: '';
			position: absolute;
			left: 50%;
			bottom: 0;
			width: 0;
			height: 2px;
			background-color: $light;
			transition: 0.5s;
		}
		&:hover:before {
			width: 50%;
			left: 25%
		}
	}

	&-text {
		@extend %text-2;
		color: $light;
		
	}
	
	&-container {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
}
.service {
	&-box {
		position: relative;
		width: 30.33%;
		padding: 10px;
		color: $light;
		cursor: pointer;
		text-align: center;
		&:hover {
			& .service-icon {
				background-color: $light;
				color: $primary-3;
			}
			& .service-description {
				z-index: 51;
				visibility: visible;
				opacity: 1;
				transform: translateY(100%);
			}
		} 
		@include desktop($bp-sm-4) {
			width: 45%;
		}
		@include desktop($bp-sm-2) {
			width: 50%;
		}
		@include desktop($bp-xs-4) {
			width: 100%;
		}
	}
	&-icon {
		display: inline-block;
		width: 70px;
		height: 70px;
		border: 3px solid $light;
		color: $light;
		border-radius: 50%;
		margin-bottom: 30px;
		margin-top: 16px;
		transition: .5s;
		& i {
			line-height: 70px;
			font-size: 26px;
		}
	}
	&-title {
		font-size: 18px;
		text-transform: uppercase;
		margin-bottom: 10px;
	}
	&-description {
		font-size: 14px;
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		right: 0;
		background-color: $dark;
		padding: 20px;
		border-radius: 4px;
		visibility: hidden;
		opacity: 0;
		transform: translateY(125%);
		transition: .5s;
		&:before {
			content: '';
			position: absolute;
			width: 30px;
			height: 30px;
			background-color: $dark;
			top: -15px;
			left: 47%;
			transform: rotate(45deg);
		}
	}
	&-background-top {
		@extend %service-background;
		background-image: url(../img/services/service-background-top.svg);
		top:0;
	}
	&-background-bottom {
		@extend %service-background;
		background-image: url(../img/services/service-background-bottom.svg);
		bottom:0;
	}
}