body{
	background-color: black;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
.doge {
	width: 17px;
	height: 20px;
	background-image: url('images/Destroy2.png');
	background-size: cover;
	background-position: center;
	/*border: 2px solid #fff;*/
	/*animation: play 1.2s steps(7) infinite;*/
}
.doge2 {
	width: 17px;
	height: 20px;
	position: absolute;
	top: 50%;
	/*left: 47.8%;*/
	left: 50%;
	transform: translate(-67.5%, -50%);
	background-image: url('images/Destroy2.png');
	background-size: cover;
	animation: play2 1.2s steps(7) infinite;
}
@keyframes play {
	from { background-position: 0px; }
	to { background-position: -1600px; }
}
@keyframes play2 {
	from { background-position: 0px; }
	to { background-position: -1600px; }
}