.loader {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.loader-container {
  position: relative;
  width: 100px;
  height: 100px;
}

.loader-container:before {
  content: '';
  position: absolute;
}

.loader-circular {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-animation: rotate 2s linear infinite;
  animation: rotate 2s linear infinite;
}

.loader-path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  -webkit-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}

@-webkit-keyframes color {
  100%,
  0% {
    stroke: #f44336;
  }
  40% {
    stroke: #2196F3;
  }
  66% {
    stroke: #4CAF50;
  }
  80%,
  90% {
    stroke: #ffeb3b;
  }
}

@keyframes color {
  100%,
  0% {
    stroke: #f44336;
  }
  40% {
    stroke: #2196F3;
  }
  66% {
    stroke: #4CAF50;
  }
  80%,
  90% {
    stroke: #ffeb3b;
  }
}

/* ProgressBar */
.nprogress {
  pointer-events: none;
}

.nprogress .bar {
  background: #03a9f4;
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
}

.nprogress .peg {
  display: block;
  position: absolute;
  z-index: 100;
  right: 0;
  width: 100px;
  height: 100%;
  -webkit-box-shadow: 0 0 10px #03a9f4, 0 0 5px #03a9f4;
  box-shadow: 0 0 10px #03a9f4, 0 0 5px #03a9f4;
  opacity: 1;
  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

.services-wrap, .pagos-wrap, .contactanos-wrap {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media only screen and (min-width: 576px) {
  .services-wrap, .pagos-wrap, .contactanos-wrap {
    max-width: 540px;
  }
}

@media only screen and (min-width: 768px) {
  .services-wrap, .pagos-wrap, .contactanos-wrap {
    max-width: 720px;
  }
}

@media only screen and (min-width: 992px) {
  .services-wrap, .pagos-wrap, .contactanos-wrap {
    max-width: 960px;
  }
}

@media only screen and (min-width: 1200px) {
  .services-wrap, .pagos-wrap, .contactanos-wrap {
    max-width: 1140px;
  }
}

@media only screen and (min-width: 1440px) {
  .services-wrap, .pagos-wrap, .contactanos-wrap {
    max-width: 1280px;
  }
}

button,
a {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.pagos, .contactanos {
  padding-top: 100px;
}

.pagos-title, .contactanos-title {
  font-family: "Poppins";
}

.pagos-title, .contactanos-title {
  font-size: 3em;
  font-weight: 500;
}

.pago-content-button a, .contactanos-form-submit input {
  background-image: -webkit-gradient(linear, left top, right top, from(#8032FB), color-stop(20%, #8032FB), color-stop(50%, #9334F2), color-stop(82%, #A035EB), color-stop(99%, #D133E7));
  background-image: -webkit-linear-gradient(left, #8032FB 0%, #8032FB 20%, #9334F2 50%, #A035EB 82%, #D133E7 99%);
  background-image: -o-linear-gradient(left, #8032FB 0%, #8032FB 20%, #9334F2 50%, #A035EB 82%, #D133E7 99%);
  background-image: linear-gradient(to right, #8032FB 0%, #8032FB 20%, #9334F2 50%, #A035EB 82%, #D133E7 99%);
  color: #ffffff;
  padding: 16px 20px;
  border-radius: 25px;
  font-size: inherit;
}

.pago-content-button a, .contactanos-form-submit input {
  background: -webkit-gradient(linear, left top, right top, from(#D133E7), color-stop(#8032FB), color-stop(#A035EB), to(#D133E7));
  background: -webkit-linear-gradient(left, #D133E7, #8032FB, #A035EB, #D133E7);
  background: -o-linear-gradient(left, #D133E7, #8032FB, #A035EB, #D133E7);
  background: linear-gradient(90deg, #D133E7, #8032FB, #A035EB, #D133E7);
  position: relative;
  -webkit-animation: btnColor 1s linear infinite;
  animation: btnColor 1s linear infinite;
  background-size: 200%;
}

* {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

table {
  border-collapse: collapse;
}

button {
  outline: none;
  border: none;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  color: #212121;
}

body::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

body::-webkit-scrollbar-track {
  border-radius: 50px;
  background-color: rgba(0, 0, 0, 0.05);
}

body::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background-color: rgba(0, 0, 0, 0.25);
}

body::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.45);
}

img {
  width: 100%;
  display: block;
}

button,
a {
  cursor: pointer;
}

.waves {
  position: relative;
  z-index: 1;
  vertical-align: middle;
  overflow: hidden;
  -webkit-transition: .3s ease-out;
  -o-transition: .3s ease-out;
  transition: .3s ease-out;
}

.waves .waves-ripple {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-top: -10px;
  margin-left: -10px;
  opacity: 0;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.7s ease-out;
  -o-transition: all 0.7s ease-out;
  transition: all 0.7s ease-out;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  -o-transition-property: transform, opacity;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  background: rgba(0, 0, 0, 0.2);
  pointer-events: none;
}

.waves.waves-light .waves-ripple {
  background-color: rgba(255, 255, 255, 0.45);
}

.waves.waves-red .waves-ripple {
  background-color: rgba(244, 67, 54, 0.7);
}

.waves.waves-yellow .waves-ripple {
  background-color: rgba(255, 235, 59, 0.7);
}

.waves.waves-orange .waves-ripple {
  background-color: rgba(255, 152, 0, 0.7);
}

.waves.waves-purple .waves-ripple {
  background-color: rgba(156, 39, 176, 0.7);
}

.waves.waves-green .waves-ripple {
  background-color: rgba(76, 175, 80, 0.7);
}

.waves.waves-teal .waves-ripple {
  background-color: rgba(0, 150, 136, 0.7);
}

.waves.waves-blue .waves-ripple {
  background-color: rgba(33, 150, 243, 0.7);
}

.waves .waves-ripple {
  z-index: -1;
}

.services {
  background: -webkit-gradient(linear, left top, right top, from(#7c32ff), to(#c738d8));
  background: -webkit-linear-gradient(left, #7c32ff, #c738d8);
  background: -o-linear-gradient(left, #7c32ff, #c738d8);
  background: linear-gradient(to right, #7c32ff, #c738d8);
  position: relative;
  padding: 200px 0;
}

.services-title {
  text-align: center;
  color: #ddd;
  text-transform: uppercase;
  font-size: 30px;
  position: relative;
  padding-bottom: 10px;
}

.services-title:before {
  content: '';
  position: absolute;
  display: block;
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 1px;
  background: #fff;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
}

.services-title:hover:before {
  width: 50%;
  height: 2px;
  left: 25%;
}

.services-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.service-box {
  width: 30.33%;
  padding: 10px;
  text-align: center;
  color: #ddd;
  position: relative;
  cursor: pointer;
}

.service-box:hover .service-icon {
  background: #F9F8F8;
  color: #9334F2;
}

.service-box:hover .service-description {
  visibility: visible;
  z-index: 2;
  opacity: 1;
  -webkit-transform: translateX(0) translateY(105%);
  -ms-transform: translateX(0) translateY(105%);
  transform: translateX(0) translateY(105%);
}

@media only screen and (max-width: 959px) {
  .service-box {
    width: 45%;
  }
}

@media only screen and (max-width: 719px) {
  .service-box {
    width: 50%;
  }
}

@media only screen and (max-width: 479px) {
  .service-box {
    width: 100%;
  }
}

.service-icon {
  display: inline-block;
  width: 70px;
  height: 70px;
  border: 3px solid #F9F8F8;
  color: #F9F8F8;
  border-radius: 50%;
  margin-bottom: 30px;
  margin-top: 16px;
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
}

.service-icon i {
  line-height: 70px;
  font-size: 26px;
}

.service-title {
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.service-description {
  font-size: 14px;
  position: absolute;
  left: 0px;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: #222222;
  padding: 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 4px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.service-description:before {
  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #222222;
  top: -15px;
  left: 47%;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.service-background-top {
  background-image: url(../img/services/service-background-top.svg);
  top: 0;
}

.service-background-bottom {
  background-image: url(../img/services/service-background-bottom.svg);
  bottom: 0;
}

.service-background-top, .service-background-bottom {
  background-size: cover;
  position: absolute;
  background-repeat: repeat-x;
  width: 100%;
  height: 200px;
}

.pagos-title {
  text-align: center;
  font-size: 36px;
}

.pagos-content {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-grid-columns: (1fr)[1];
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 30px;
  margin-top: 25px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .pagos-content {
    -ms-grid-columns: 1fr 30px 1fr 30px 1fr 30px 1fr;
    grid-template-columns: repeat(4, 1fr);
    -ms-grid-rows: auto 30px auto;
    grid-template-areas: "emprendedor emprendedor profesional profesional" ". experto experto .";
    grid-auto-columns: 1fr;
  }
}

@media only screen and (min-width: 992px) {
  .pagos-content {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
  }
}

.pago-content {
  font-family: "Poppins";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: wrap column;
  flex-flow: wrap column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  width: 100%;
  -webkit-box-shadow: 0 6px 20px 0 rgba(24, 52, 117, 0.3);
  box-shadow: 0 6px 20px 0 rgba(24, 52, 117, 0.3);
  border-radius: 25px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .pago-content:nth-of-type(1) {
    grid-area: emprendedor;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .pago-content:nth-of-type(2) {
    grid-area: profesional;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .pago-content:nth-of-type(3) {
    grid-area: experto;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .pago-content:nth-of-type(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }
  .pago-content:nth-of-type(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
    -ms-grid-column-span: 3;
  }
  .pago-content:nth-of-type(3) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
    -ms-grid-column-span: 3;
  }
}

.pago-content-title {
  padding: 60px 40px;
  color: #fff;
  background: -webkit-linear-gradient(45deg, #212121, #323232);
  background: -o-linear-gradient(45deg, #212121, #323232);
  background: linear-gradient(45deg, #212121, #323232);
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
}

.pago-content-title h4 {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
}

.pago-content-title h5 {
  font-size: 25px;
}

.pago-content-title .badge {
  background-color: #4CAF50;
  border-radius: 5px;
}

.pago-content-features ul {
  padding: 15px 10px;
  font-size: 14px;
  text-transform: uppercase;
}

.pago-content-features ul li {
  padding: 6px 0;
  cursor: pointer;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.pago-content-features ul li:hover {
  border-left: 15px solid #5121f3;
  border-right: 15px solid #5121f3;
}

.pago-content-button a:before {
  content: '';
  position: absolute;
  top: -5px;
  left: -15px;
  right: -15px;
  bottom: -5px;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  z-index: -1;
  border-radius: 40px;
  background: -webkit-gradient(linear, left top, right top, from(#8032FB), color-stop(#9334F2), color-stop(#A035EB), to(#D133E7));
  background: -webkit-linear-gradient(left, #8032FB, #9334F2, #A035EB, #D133E7);
  background: -o-linear-gradient(left, #8032FB, #9334F2, #A035EB, #D133E7);
  background: linear-gradient(90deg, #8032FB, #9334F2, #A035EB, #D133E7);
  background-size: 400%;
  opacity: 0;
}

.pago-content-button a:hover {
  -webkit-animation: btnColor 1s linear infinite;
  animation: btnColor 1s linear infinite;
}

.pago-content-button a:hover:before {
  -webkit-filter: blur(20px);
  filter: blur(20px);
  opacity: 1;
  -webkit-animation: btnColor 5s linear infinite;
  animation: btnColor 5s linear infinite;
}

.pago-content-title .badge {
  padding: 7px 10px 3px;
  font-size: 16px;
  font-weight: bold;
  white-space: nowrap;
  color: #ffffff;
}

@-webkit-keyframes btnColor {
  from {
    background-position: 0%;
  }
  to {
    background-position: 200%;
  }
}

@keyframes btnColor {
  from {
    background-position: 0%;
  }
  to {
    background-position: 200%;
  }
}

.contactanos-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: wrap column;
  flex-flow: wrap column;
}

.contactanos-title {
  font-size: 30px;
  text-align: center;
}

.contactanos-title h5 {
  font-size: 0.6em;
}

.contactanos-form {
  padding: 35px;
  display: -ms-grid;
  display: grid;
  grid-gap: 25px;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
}

.contactanos-form-group {
  width: 100%;
  margin-bottom: 20px;
  position: relative;
}

.contactanos-form-group:nth-of-type(4) {
  -ms-grid-column-span: 4;
  grid-column: span 4;
}

.contactanos-form-group label {
  color: #ABABAB;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
  cursor: text;
  pointer-events: none;
}

.contactanos-form-group input {
  background: none;
  outline: none;
  border: none;
  display: block;
  padding: 10px 0;
  width: 100%;
  border-bottom: 1.2px solid #818A91;
  color: #444;
  font-size: 16px;
}

.contactanos-form-group input:focus ~ label, .contactanos-form-group input:valid ~ label {
  top: -18px;
  left: 0;
  font-size: 12px;
  color: #7c32ff;
}

.contactanos-form-group input:focus {
  border-bottom: 1.2px solid #7c32ff;
}

.contactanos-form-submit {
  -ms-grid-column: 2;
  grid-column-start: 2;
}

.contactanos-form-submit input {
  border: none;
  width: 100%;
}
