.loader {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.loader-container {
  position: relative;
  width: 100px;
  height: 100px;
}

.loader-container:before {
  content: '';
  position: absolute;
}

.loader-circular {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-animation: rotate 2s linear infinite;
  animation: rotate 2s linear infinite;
}

.loader-path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  -webkit-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}

@-webkit-keyframes color {
  100%,
  0% {
    stroke: #f44336;
  }
  40% {
    stroke: #2196F3;
  }
  66% {
    stroke: #4CAF50;
  }
  80%,
  90% {
    stroke: #ffeb3b;
  }
}

@keyframes color {
  100%,
  0% {
    stroke: #f44336;
  }
  40% {
    stroke: #2196F3;
  }
  66% {
    stroke: #4CAF50;
  }
  80%,
  90% {
    stroke: #ffeb3b;
  }
}

/* ProgressBar */
.nprogress {
  pointer-events: none;
}

.nprogress .bar {
  background: #03a9f4;
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
}

.nprogress .peg {
  display: block;
  position: absolute;
  z-index: 100;
  right: 0;
  width: 100px;
  height: 100%;
  -webkit-box-shadow: 0 0 10px #03a9f4, 0 0 5px #03a9f4;
  box-shadow: 0 0 10px #03a9f4, 0 0 5px #03a9f4;
  opacity: 1;
  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

.header-wrapper, .inicio-wrapper, .nosotros-wrapper, .portafolio-wrapper, .clientes-wrapper, .blog-wrapper {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media only screen and (min-width: 576px) {
  .header-wrapper, .inicio-wrapper, .nosotros-wrapper, .portafolio-wrapper, .clientes-wrapper, .blog-wrapper {
    max-width: 540px;
  }
}

@media only screen and (min-width: 768px) {
  .header-wrapper, .inicio-wrapper, .nosotros-wrapper, .portafolio-wrapper, .clientes-wrapper, .blog-wrapper {
    max-width: 720px;
  }
}

@media only screen and (min-width: 992px) {
  .header-wrapper, .inicio-wrapper, .nosotros-wrapper, .portafolio-wrapper, .clientes-wrapper, .blog-wrapper {
    max-width: 960px;
  }
}

@media only screen and (min-width: 1200px) {
  .header-wrapper, .inicio-wrapper, .nosotros-wrapper, .portafolio-wrapper, .clientes-wrapper, .blog-wrapper {
    max-width: 1140px;
  }
}

@media only screen and (min-width: 1440px) {
  .header-wrapper, .inicio-wrapper, .nosotros-wrapper, .portafolio-wrapper, .clientes-wrapper, .blog-wrapper {
    max-width: 1280px;
  }
}

button,
a {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.portafolio, .blog {
  padding-top: 80px;
}

.primaryContent-title, .nosotros-title, .portafolio-title, .clientes-title, .blog-title {
  font-family: "Kosugi Maru";
  text-transform: uppercase;
}

.primaryContent-title {
  font-size: 2em;
  font-weight: 600;
}

@media only screen and (min-width: 576px) {
  .primaryContent-title {
    font-size: 2.5em;
  }
}

@media only screen and (min-width: 768px) {
  .primaryContent-title {
    font-size: 3em;
  }
}

@media only screen and (min-width: 992px) {
  .primaryContent-title {
    font-size: 2.5em;
  }
}

.nosotros-title, .portafolio-title, .clientes-title, .blog-title {
  font-size: 2.5em;
  font-weight: 500;
}

@media only screen and (min-width: 768px) {
  .nosotros-title, .portafolio-title, .clientes-title, .blog-title {
    font-size: 3.5em;
  }
}

.primaryContent-text, .nosotros-content, .portafolio-text, .clientes-text, .blog-text {
  font-family: "Poppins";
}

.primaryContent-text {
  font-size: 1.2em;
  font-weight: 400;
}

.nosotros-content, .portafolio-text, .clientes-text, .blog-text {
  font-size: 1.15em;
  font-weight: 400;
}

@media only screen and (min-width: 768px) {
  .nosotros-content, .portafolio-text, .clientes-text, .blog-text {
    font-size: 1.2em;
  }
}

.nosotros-btn, .blog-post-btn {
  display: inline-block;
  color: #ffffff;
  padding: 12px 16px;
  border-radius: 30px;
  font-size: 1.2em;
}

.nosotros-btn, .blog-post-btn {
  position: relative;
  background-image: -webkit-gradient(linear, left top, right top, from(#7c32ff), color-stop(#c738d8), color-stop(#9334F2), to(#7c32ff));
  background-image: -webkit-linear-gradient(left, #7c32ff, #c738d8, #9334F2, #7c32ff);
  background-image: -o-linear-gradient(left, #7c32ff, #c738d8, #9334F2, #7c32ff);
  background-image: linear-gradient(90deg, #7c32ff, #c738d8, #9334F2, #7c32ff);
  background-size: 400%;
  -webkit-box-shadow: 0 4px 20px 0 rgba(24, 52, 117, 0.2);
  box-shadow: 0 4px 20px 0 rgba(24, 52, 117, 0.2);
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.nosotros-btn:hover, .blog-post-btn:hover {
  -webkit-animation: btn-effect 5s linear infinite;
  animation: btn-effect 5s linear infinite;
  -webkit-box-shadow: 0 4px 20px 0 rgba(24, 52, 117, 0.5);
  box-shadow: 0 4px 20px 0 rgba(24, 52, 117, 0.5);
}

@-webkit-keyframes btn-effect {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}

@keyframes btn-effect {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}

* {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

table {
  border-collapse: collapse;
}

button {
  outline: none;
  border: none;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  color: #212121;
}

body::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

body::-webkit-scrollbar-track {
  border-radius: 50px;
  background-color: rgba(0, 0, 0, 0.05);
}

body::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background-color: rgba(0, 0, 0, 0.25);
}

body::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.45);
}

img {
  width: 100%;
  display: block;
}

button,
a {
  cursor: pointer;
}

.waves {
  position: relative;
  z-index: 1;
  vertical-align: middle;
  overflow: hidden;
  -webkit-transition: .3s ease-out;
  -o-transition: .3s ease-out;
  transition: .3s ease-out;
}

.waves .waves-ripple {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-top: -10px;
  margin-left: -10px;
  opacity: 0;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.7s ease-out;
  -o-transition: all 0.7s ease-out;
  transition: all 0.7s ease-out;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  -o-transition-property: transform, opacity;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  background: rgba(0, 0, 0, 0.2);
  pointer-events: none;
}

.waves.waves-light .waves-ripple {
  background-color: rgba(255, 255, 255, 0.45);
}

.waves.waves-red .waves-ripple {
  background-color: rgba(244, 67, 54, 0.7);
}

.waves.waves-yellow .waves-ripple {
  background-color: rgba(255, 235, 59, 0.7);
}

.waves.waves-orange .waves-ripple {
  background-color: rgba(255, 152, 0, 0.7);
}

.waves.waves-purple .waves-ripple {
  background-color: rgba(156, 39, 176, 0.7);
}

.waves.waves-green .waves-ripple {
  background-color: rgba(76, 175, 80, 0.7);
}

.waves.waves-teal .waves-ripple {
  background-color: rgba(0, 150, 136, 0.7);
}

.waves.waves-blue .waves-ripple {
  background-color: rgba(33, 150, 243, 0.7);
}

.waves .waves-ripple {
  z-index: -1;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 90;
  width: 100%;
  height: 60px;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.header-active {
  background-image: -webkit-linear-gradient(45deg, #7c32ff 0%, #c738d8 100%);
  background-image: -o-linear-gradient(45deg, #7c32ff 0%, #c738d8 100%);
  background-image: linear-gradient(45deg, #7c32ff 0%, #c738d8 100%);
  -webkit-box-shadow: 0 6px 28px 0 rgba(24, 52, 117, 0.2);
  box-shadow: 0 6px 28px 0 rgba(24, 52, 117, 0.2);
}

.header-wrapper {
  height: 100%;
}

.header-responsive {
  display: none;
}

@media only screen and (max-width: 991px) {
  .header-responsive {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
  }
}

.brand {
  display: none;
}

@media only screen and (max-width: 991px) {
  .brand {
    display: block;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  .brand-img {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-image: url("../img/sprites/pixeland.png");
    background-size: cover;
    -webkit-animation: pixeland-logo 1.2s steps(8) infinite;
    animation: pixeland-logo 1.2s steps(8) infinite;
    overflow: hidden;
  }
}

.nav-toggle {
  display: none;
}

@media only screen and (max-width: 991px) {
  .nav-toggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: transparent;
    -webkit-transform: translateX(-6px);
    -ms-transform: translateX(-6px);
    transform: translateX(-6px);
  }
  .nav-toggle-icon {
    color: #ffffff;
    font-size: 24px;
  }
}

@-webkit-keyframes pixeland-logo {
  from {
    background-position: 0px;
  }
  to {
    background-position: -4000px;
  }
}

@keyframes pixeland-logo {
  from {
    background-position: 0px;
  }
  to {
    background-position: -4000px;
  }
}

@media only screen and (min-width: 992px) {
  .nav {
    display: block;
    height: 100%;
  }
  .nav-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    height: 100%;
  }
  .nav-link {
    position: relative;
    display: block;
  }
}

@media only screen and (min-width: 992px) and (min-width: 992px) {
  .nav-link {
    color: rgba(255, 255, 255, 0.6);
    -webkit-transition: color .5s;
    -o-transition: color .5s;
    transition: color .5s;
  }
  .nav-link-active {
    color: #ffffff;
  }
  .nav-link-active .nav-destroy {
    visibility: visible;
    opacity: 1;
  }
  .nav-link:hover {
    color: #ffffff;
  }
}

.nav-header {
  display: none;
}

.nav-footer {
  display: none;
}

@media only screen and (max-width: 991px) {
  .nav {
    position: fixed;
    z-index: 92;
    left: 0;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 300px;
    height: 100%;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    overflow: hidden;
    -webkit-transform: translateX(-105%);
    -ms-transform: translateX(-105%);
    transform: translateX(-105%);
    will-change: transform;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .nav.nav-out {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  .nav-overlay {
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 91;
    display: none;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .nav-header {
    display: block;
    position: relative;
    width: 100%;
    min-height: 200px;
    overflow: hidden;
    margin-bottom: 16px;
  }
  .nav-header-close {
    position: absolute;
    z-index: 93;
    top: 10px;
    right: 10px;
    background-color: transparent;
  }
  .nav-header-icon {
    font-size: 24px;
    color: #ffffff;
  }
  .nav-header-bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 92;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    background-image: url("../img/nixe/nixe-back.png");
    background-size: cover;
    background-position: center;
    -webkit-filter: brightness(0.6);
    filter: brightness(0.6);
  }
  .nav-header-avatar {
    position: absolute;
    z-index: 93;
    left: 15px;
    bottom: 20px;
    color: #ffffff;
  }
  .nav-header-avatar-img {
    width: 64px;
    height: 64px;
    background-image: url("../img/nixe/Nixe-up.png");
    background-size: 90%;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    -webkit-transform: translate(-3px, -5px);
    -ms-transform: translate(-3px, -5px);
    transform: translate(-3px, -5px);
  }
  .nav-header-avatar-branch {
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 500;
  }
  .nav-header-avatar-email {
    font-weight: 300;
  }
  .nav-header-avatar-email-icon {
    -webkit-transform: translateY(1px);
    -ms-transform: translateY(1px);
    transform: translateY(1px);
  }
  .nav-content {
    display: block;
    overflow-y: auto;
  }
  .nav-content::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  .nav-content::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.1);
  }
  .nav-link {
    display: block;
    margin: 0;
    padding: 16px 0 16px 50px;
    font-size: 18px;
    color: #212121;
  }
  .nav-link:before {
    content: '\f015';
    position: absolute;
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    top: 50%;
    -webkit-transform: translate(-35px, -50%);
    -ms-transform: translate(-35px, -50%);
    transform: translate(-35px, -50%);
  }
  .nav-link.nav-link-active {
    color: #7c32ff;
  }
  .nav-item:nth-child(2) .nav-link:before {
    content: '\f0c0';
  }
  .nav-item:nth-child(3) .nav-link:before {
    content: '\f06d';
  }
  .nav-item:nth-child(4) .nav-link:before {
    content: '\f291';
  }
  .nav-item:nth-child(5) .nav-link:before {
    content: '';
  }
  .nav-item:nth-child(6) .nav-link:before {
    content: '\f07b';
  }
  .nav-item:nth-child(7) .nav-link:before {
    content: '\f4fb';
  }
  .nav-item:nth-child(8) .nav-link:before {
    content: '\f305';
  }
  .nav-item:nth-child(9) .nav-link:before {
    content: '\f1d8';
  }
  .nav-footer {
    display: block;
    text-align: center;
    margin-top: auto;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .nav-footer-nf {
    color: #7c32ff;
  }
}

@media only screen and (min-width: 992px) {
  .nav-destroy {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 47.35%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 17px;
    height: 20px;
    background-image: url("../img/sprites/destroy.png");
    background-size: cover;
    -webkit-animation: destroy 1.2s steps(7) infinite;
    animation: destroy 1.2s steps(7) infinite;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
  }
}

@-webkit-keyframes destroy {
  from {
    background-position: 0px;
  }
  to {
    background-position: -1600px;
  }
}

@keyframes destroy {
  from {
    background-position: 0px;
  }
  to {
    background-position: -1600px;
  }
}

.drag-target {
  display: none;
}

@media only screen and (max-width: 991px) {
  .drag-target {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 90;
    height: 100vh;
    width: 15px;
    background-color: rgba(0, 0, 0, 0.005);
  }
}

.logo {
  display: none;
}

@media only screen and (min-width: 992px) {
  .logo {
    display: block;
  }
  .logo-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .logo-img {
    width: 80px;
    -webkit-transform: translateY(15px);
    -ms-transform: translateY(15px);
    transform: translateY(15px);
  }
}

.inicio {
  position: relative;
  z-index: 70;
  width: 100%;
  height: 100vh;
  background-image: -webkit-linear-gradient(45deg, #7c32ff 0%, #c738d8 100%);
  background-image: -o-linear-gradient(45deg, #7c32ff 0%, #c738d8 100%);
  background-image: linear-gradient(45deg, #7c32ff 0%, #c738d8 100%);
}

.inicio-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 100%;
}

@media only screen and (max-width: 991px) {
  .inicio-box {
    text-align: center;
  }
  .inicio-box:nth-child(2) {
    display: none;
  }
}

@media only screen and (min-width: 992px) {
  .inicio-box {
    width: 500px;
  }
}

.inicio-wave {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 71;
  width: 100%;
  height: 230px;
  background-image: url("../img/inicio/wave.svg");
  background-size: cover;
  background-repeat: repeat-x;
  background-position: right;
  -webkit-transform: translateY(6px);
  -ms-transform: translateY(6px);
  transform: translateY(6px);
}

@media only screen and (min-width: 1400px) {
  .inicio-wave {
    background-size: initial;
    background-position: left;
  }
}

.inicio-wave-fix {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 72;
  width: 100%;
  height: 6px;
  background-color: #ffffff;
  -webkit-transform: translateY(3px);
  -ms-transform: translateY(3px);
  transform: translateY(3px);
}

.inicio-nixe {
  display: none;
}

@media only screen and (max-width: 991px) {
  .inicio-nixe {
    position: absolute;
    bottom: 1%;
    right: 2%;
    z-index: 72;
    display: block;
  }
}

.inicio-items {
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.inicio-item {
  position: absolute;
}

.inicio-item:nth-child(1) {
  top: 10%;
  left: -15%;
  -webkit-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  transform: rotate(-5deg);
  opacity: .12;
}

.inicio-item:nth-child(1) img {
  width: 100%;
}

@media only screen and (min-width: 576px) {
  .inicio-item:nth-child(1) {
    top: 10%;
    left: -10%;
  }
}

@media only screen and (min-width: 768px) {
  .inicio-item:nth-child(1) {
    top: 10%;
    left: -5%;
  }
}

@media only screen and (min-width: 992px) {
  .inicio-item:nth-child(1) {
    top: 15%;
    left: -5%;
  }
}

.inicio-item:nth-child(2) {
  top: 40%;
  left: 30%;
  -webkit-transform: rotate(5deg);
  -ms-transform: rotate(5deg);
  transform: rotate(5deg);
  opacity: .08;
}

.inicio-item:nth-child(2) img {
  width: 100%;
}

@media only screen and (max-width: 991px) {
  .inicio-item:nth-child(2) {
    left: 50%;
  }
}

.inicio-item:nth-child(3) {
  top: 75%;
  left: 5%;
  -webkit-transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  transform: rotate(20deg);
  opacity: .13;
}

.inicio-item:nth-child(3) img {
  width: 80%;
}

@media only screen and (min-width: 768px) {
  .inicio-item:nth-child(3) {
    top: 80%;
    left: 30%;
  }
}

@media only screen and (min-width: 840px) {
  .inicio-item:nth-child(3) {
    left: 42%;
  }
}

@media only screen and (min-width: 992px) {
  .inicio-item:nth-child(3) {
    top: 65%;
    left: 2%;
  }
}

.inicio-item:nth-child(4) {
  top: 20%;
  left: 45%;
  -webkit-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  transform: rotate(10deg);
  opacity: .09;
}

.inicio-item:nth-child(4) img {
  width: 60%;
}

@media only screen and (max-width: 767px) {
  .inicio-item:nth-child(4) {
    display: none;
  }
}

.inicio-item:nth-child(5) {
  top: 18%;
  left: 60%;
  -webkit-transform: translate(45px) rotate(30deg);
  -ms-transform: translate(45px) rotate(30deg);
  transform: translate(45px) rotate(30deg);
  opacity: .08;
}

.inicio-item:nth-child(5) img {
  width: 50%;
}

@media only screen and (min-width: 576px) {
  .inicio-item:nth-child(5) {
    top: 20%;
    left: 80%;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .inicio-item:nth-child(5) img {
    width: 70%;
  }
}

@media only screen and (min-width: 992px) {
  .inicio-item:nth-child(5) {
    top: 20%;
    left: 20%;
  }
}

.inicio-item:nth-child(6) {
  top: 55%;
  right: -1%;
  -webkit-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  transform: rotate(10deg);
  opacity: .1;
}

.inicio-item:nth-child(6) img {
  width: 60%;
}

@media only screen and (max-width: 767px) {
  .inicio-item:nth-child(6) {
    display: none;
  }
}

.inicio-item:nth-child(7) {
  top: 12%;
  right: 7%;
  -webkit-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  transform: rotate(-30deg);
  opacity: .08;
}

.inicio-item:nth-child(7) img {
  width: 60%;
}

@media only screen and (max-width: 991px) {
  .inicio-item:nth-child(7) {
    display: none;
  }
}

.inicio-item:nth-child(8) {
  top: 88%;
  right: 20%;
  -webkit-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  transform: rotate(-10deg);
  opacity: .15;
}

.inicio-item:nth-child(8) img {
  width: 100%;
}

@media only screen and (max-width: 991px) {
  .inicio-item:nth-child(8) {
    display: none;
  }
}

.inicio-item:nth-child(9) {
  top: 45%;
  left: 50%;
  -webkit-transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
  transform: rotate(-20deg);
  opacity: .06;
}

.inicio-item:nth-child(9) img {
  width: 70%;
}

@media only screen and (max-width: 991px) {
  .inicio-item:nth-child(9) {
    display: none;
  }
}

.primaryContent {
  color: #ffffff;
}

.primaryContent-title {
  margin-bottom: 8px;
  text-transform: uppercase;
}

.primaryContent-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.primaryContent-branch {
  font-weight: 600;
}

.primaryContent-effect {
  color: #ffeb3b;
}

.primaryContent-slogan {
  font-style: italic;
}

@media only screen and (min-width: 992px) {
  .primaryContent-slogan {
    -ms-flex-item-align: end;
    align-self: flex-end;
  }
}

.developing {
  position: relative;
  z-index: 73;
  display: block;
  -webkit-perspective: 800px;
  perspective: 800px;
}

.developing-img {
  -webkit-transform: rotateY(-30deg);
  transform: rotateY(-30deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  -o-transition: transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

.developing-img:hover {
  -webkit-transform: rotateY(-15deg);
  transform: rotateY(-15deg);
}

.developing-cubes {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.nosotros {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.nosotros-title {
  color: #c738d8;
}

.nosotros-content {
  padding-top: 16px;
  padding-bottom: 24px;
}

.portafolio-title {
  color: #7c32ff;
  text-align: center;
}

.portafolio-text {
  padding-top: 16px;
  text-align: center;
}

.slider {
  position: relative;
  width: 50%;
  min-width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.slider-mask {
  position: relative;
  z-index: 32;
}

.slider-mask-dark {
  position: absolute;
  z-index: -1;
  top: 0;
}

.slider-img {
  position: absolute;
  z-index: 31;
  top: 0;
  display: none;
}

.slider-active {
  display: block;
  -webkit-animation: fadePortafolio .8s;
  animation: fadePortafolio .8s;
}

.slider-arrow {
  position: absolute;
  top: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 10%;
}

.slider-arrow-previous {
  left: -20%;
}

@media only screen and (min-width: 576px) {
  .slider-arrow-previous {
    left: -25%;
  }
}

.slider-arrow-next {
  right: -20%;
}

@media only screen and (min-width: 576px) {
  .slider-arrow-next {
    right: -25%;
  }
}

.slider-arrow-icon {
  display: block;
  color: #7c32ff;
  font-size: 32px;
  -webkit-transform: translateX(0px);
  -ms-transform: translateX(0px);
  transform: translateX(0px);
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  -o-transition: transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
}

.slider-arrow-previous:hover .slider-arrow-icon {
  -webkit-transform: translateX(-10px) scale(1.2);
  -ms-transform: translateX(-10px) scale(1.2);
  transform: translateX(-10px) scale(1.2);
}

.slider-arrow-next:hover .slider-arrow-icon {
  -webkit-transform: translateX(10px) scale(1.2);
  -ms-transform: translateX(10px) scale(1.2);
  transform: translateX(10px) scale(1.2);
}

@-webkit-keyframes fadePortafolio {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadePortafolio {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.clientes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 100vh;
}

@media only screen and (max-width: 1199px) {
  .clientes {
    padding-top: 80px;
  }
}

.clientes-title {
  color: #c738d8;
  text-align: center;
}

.clientes-text {
  padding-top: 16px;
  text-align: center;
}

.clientes-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.clientes-link {
  position: relative;
  display: block;
  width: 300px;
  height: 200px;
  margin-top: 50px;
}

@media only screen and (min-width: 768px) {
  .clientes-link {
    margin: 50px 20px 0;
  }
}

.clientes-link-corner {
  position: absolute;
  z-index: -1;
  display: block;
  width: 20px;
  height: 20px;
  opacity: 0;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.clientes-link-corner:nth-child(2) {
  border-top: 2px solid #bdbdbd;
  border-left: 2px solid #bdbdbd;
  top: 0;
  left: 0;
}

.clientes-link-corner:nth-child(3) {
  border-top: 2px solid #bdbdbd;
  border-right: 2px solid #bdbdbd;
  top: 0;
  right: 0;
}

.clientes-link-corner:nth-child(4) {
  border-bottom: 2px solid #bdbdbd;
  border-left: 2px solid #bdbdbd;
  bottom: 0;
  left: 0;
}

.clientes-link-corner:nth-child(5) {
  border-bottom: 2px solid #bdbdbd;
  border-right: 2px solid #bdbdbd;
  bottom: 0;
  right: 0;
}

.clientes-link:hover .clientes-link-corner {
  opacity: 1;
}

.clientes-img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.clientes-link:hover .clientes-img {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

.blog-title {
  color: #7c32ff;
  text-align: center;
}

.blog-text {
  padding-top: 16px;
  text-align: center;
}

.blog-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.blog-column {
  width: 40%;
}

.blog-post {
  background-color: #ffffff;
  margin-top: 50px;
  -webkit-box-shadow: 0 5px 28px rgba(51, 51, 51, 0.2);
  box-shadow: 0 5px 28px rgba(51, 51, 51, 0.2);
  border-radius: 20px;
  overflow: hidden;
}

.blog-post-imgBox {
  height: 400px;
  background-color: #ffffff;
}

.blog-post-img {
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.blog-post-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 16px;
}

.blog-post-title {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 1.5em;
}

.blog-post-text {
  margin-bottom: 16px;
}

.blog-post-text-strong {
  font-weight: 700;
}

.blog-post-text-link {
  color: #7c32ff;
}

.blog-post-btnBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media only screen and (max-width: 991px) {
  .blog-row {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .blog-column {
    width: 60%;
  }
}

@media only screen and (max-width: 767px) {
  .blog-column {
    width: 80%;
  }
}

@media only screen and (max-width: 575px) {
  .blog-column {
    width: 95%;
  }
}
